{% extends "base.html" %}

{% block body %}
<section class="container d-flex justify-content-center mt-5 mb-5 pt-5">
    <div class="w-100 mx-auto p-4 rounded shadow-sm login-container">

        <form method="POST" action="{{ url_for('home.reset_password', token=token) }}">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                <label for="{{ form.password.id }}" class="form-label">Password</label>
                {{ form.password(class="form-control", id="password") }}
            </div>

            <div class="mb-3">
                <label for="{{ form.confirm_password.id }}" class="form-label">Confirm Password</label>
                {{ form.confirm_password(class="form-control", id="confirm-password") }}
            </div>

            <div class="d-flex justify-content-center">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>

    </div>
</section>
{% endblock %}
