# Ignore virtual environment folders
venv/

# Ignore the Python compilation cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VSCode settings
.vscode/

# Ignore log files
*.log

# Ignore database files (if using SQLite)
*.sqlite3
instance/*.db
instance/studymate_database.db

# Ignore environment variable configuration
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
node_modules/

# Ignore pytest cache
.pytest_cache/

# Ignore pycache
__pycache__/

