# Ignore virtual environment folders
venv/

# Ignore the Python compilation cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore VSCode settings
.vscode/

# Ignore log files
*.log

# Ignore database files (if using SQLite)
*.sqlite3

# Ignore environment variable configuration
.env

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
__pycache__/

# Ignore dataset files
.env
  
.DS_Store
instance/*.db
